/*GLOBAL*/

.grid {
	display: grid;
	grid-template: auto / repeat(12, 1fr);
	column-gap: 24px;
}


/*HERO*/

.hero-text {
	grid-area: 1 / 1 / span 1 / span 4;
	padding-right: 10px;
}

.hero-img-flex {
	display: flex;
}

.hero-img-grid {
	grid-area: 1 / 5 / span 1 / span 8;
}


/*VISIT THE SHOP*/

.visit-grid {
	grid-area: 1 / 3 / span 1 / span 4;
}

.body-grid {
	grid-area: 1 / 7 / span 1 / span 5;
}

.body-flex {
	display: flex;
	flex-direction: column;
}

.blue-bold {
	color: #1B9DD9;
	font-family: Montserrat;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.orange-line {
	color: #FF6A00;
	text-align: center;
	font-family: Montserrat;
	font-size: 22px;
	font-style: italic;
	font-weight: 500;
	line-height: normal;
	margin: 0px 20px;
}

.orange-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.orange-text::before,
.orange-text::after {
  background-color: #F78B3F;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.orange-text::before {
  right: 0.5em;
  margin-left: -50%;
}

.orange-text::after {
  left: 0.5em;
  margin-right: -50%;
}

/*PRICING*/

.pricing-flex {
	display: flex;
	flex-direction: column;
	padding: 60px 80px;
}

.card-flex {
	display: flex;
	flex-direction: row;
	margin: 50px 0px 70px 0px;
	justify-content: center;
	gap: 5%;
}

.green-border {
	width: 240px;
	height: 248px;
	border-style: solid;
	border-color: #0FB657;
	border-radius: 20px;
	border-width: 2px;
	padding: 34px 39px;
}

/*SAFETY*/

.safety-text {
	display: flex;
	flex-direction: column;
	padding: 40px 310px 0px 200px;
}

.safety-img {
	height: 100%;
}

.hidden-desktop {
	display: none;
}

/*SMARTPHONE MEDIA QUERY*/

@media screen and (max-width: 480px) {
	
	.hidden-mobile {
		display: none;
	}

	.hidden-desktop {
		display: flex;
	}

	.grid {
		flex-direction: column;
	}

	/*Visit the Shop*/

	.blue-bold {
	color: #1B9DD9;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	}

	.orange-line {
	color: #FF6A00;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	line-height: normal;
	margin: 0px 20px;
	}

	.orange-text::before,
	.orange-text::after {
	  display: none;
	}

	/*Pricing*/

	.pricing-flex {
	display: flex;
	flex-direction: column;
	padding: 0px 24px 40px 24px;
	}

	.card-flex {
	display: flex;
	flex-direction: column;
	margin: 24px 0px 24px 0px;
	align-items: center;
	gap: 16px;
	}

	.green-border {
	height: 35vw;
	border-style: solid;
	border-color: #0FB657;
	border-radius: 20px;
	border-width: 2px;
	padding: 20px;
	}

	/*Safety*/

	.safety-img {
	height: 100%;
	width: 100%;
	}

	.safety-text {
	display: flex;
	flex-direction: column;
	padding: 40px 24px;
	}

}







