/*HERO*/

.hero-grid {
	display: grid;
	grid-template: 1fr / repeat(12, 1fr);
	column-gap: 24px;
	padding: 80px 80px 120px 80px;
}

h1 {
	grid-area: 1 / 3 / span 1 / span 2;
}

.desc-grid {
	grid-area: 1 / 6 / span 1 / span 6;
}

.hero-flex {
	display: flex;
	flex-direction: row;
	padding: 0px 10vw;
}

.centered {
	text-align: center;
}

.border {
	border-left: solid 2px #0FB657;
}

.padding-left {
	padding-left: 78px;
	flex: 1;
}

.padding-right {
	padding-right: 78px;
	flex: 1;
}

.hero-green {
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 121.961%; /* 29.271px */
	color: #0FB657;
	margin: 0px;
}


/*EQUIPMENT*/

.background-white {
	background-color: #ffffff;
}

.subhead-green::after {
  background-color: #0FB657;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 90%;
}

.subhead-green::after {
  left: 0.5em;
  margin-right: -50%;
}

.padding-80 {
	padding: 80px 5vw;
}

.equipment-grid {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(4, 1fr);
	row-gap: 73px;
	column-gap: 84px;
	margin: 77px 80px 0px 80px;
}

.label-margin {
	margin-top: 20px;
}

.hidden-desktop {
	display: none;
}

/*SMARTPHONE MEDIA QUERY*/

@media screen and (max-width: 480px) {
	
	.hidden-mobile {
		display: none;
	}

	.hidden-desktop {
		display: flex;
	}

	/*HERO*/
	.hero-grid {
		display: flex;
		flex-direction: column;
		padding: 20px 24px;
	}

	.hero-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 24px;
	}

	.margin-b-60 {
		margin: 0px 0px 20px 0px;
	}

	.hero-green {
	font-size: 18px;
	margin: 0px;
	}

	.padding-left {
		padding-left: 0px;
		flex: 1;
	}

	.padding-right {
		padding-bottom: 16px;
		padding-right: 0px;
		flex: 1;
	}

	.border {
		border-left: none ;
	}

 .border:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 70%; /* Change this to whatever width you want. */
    padding-top: 16px; /* This creates some space between the element and the border. */
    border-top: 2px solid #0FB657; /* This creates the border. Replace black with whatever color you want. */
	}

	/*EQUIPMENT*/
	.subhead-green::after {
	  display: none;
	}

	.padding-80 {
		padding: 40px 24px;
	}

	.equipment-grid {
		display: grid;
		grid-template: repeat(4, 1fr) / repeat(2, 1fr);
		row-gap: 55px;
		column-gap: 22px;
		margin: 16px 0px 0px 0px;
	}

	.label-margin {
		margin-top: 8px;
	}

	.subhead-dark {
		font-size: 16px;
	}

}

